{% extends "base.html" %}

{% block content %}
<div class="home-container">

    {% if user %}
        <h1>Welcome, {{ user.username }}!</h1>
        <p>Glad to see you back.</p>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>

    {% else %}
        <h1>Welcome to My App!</h1>
        <p>
            Please
            <a href="{{ url_for('login_get') }}">login</a>
            or
            <a href="{{ url_for('register_get') }}">register</a>
            to continue.
        </p>
    {% endif %}

</div>
{% endblock %}
