<!DOCTYPE html>
<html>
<head>
    <title> 404 page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Forbidden</h1>
    <p>You do not have permission to access this page.</p>
    <div class="error-container">
    <h1 class="error-code">403</h1>
    <p class="error-title">Access Denied</p>
    <p class="error-message">You don’t have permission to view this resource.</p>
    <a href="/" class="back-button">Return Home</a>
</div>
</body>
</html>
