<!DOCTYPE html>
<html>
<head>
    <title> 404 page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Page Not Found</h1>
    <p>The page you are looking for doesn't exist.</p>
    <div class="error-container">
    <h1 class="error-code">404</h1>
    <p class="error-title">Page Not Found</p>
    <p class="error-message">Sorry, the page you’re looking for doesn’t exist or has been moved.</p>
    <a href="/" class="back-button">Go Home</a>
</div>
</body>
</html>
