<!DOCTYPE html>
<html>
<head>
    <title> 404 page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Server Error</h1>
    <p>Something went wrong on our side.</p>

<div class="error-container">
    <h1 class="error-code">500</h1>
    <p class="error-title">Server Error</p>
    <p class="error-message">Something went wrong on our side. We’re working to fix it.</p>
    <a href="/" class="back-button">Try Again</a>
</div>
</body>
</html>
