{% extends 'base.html' %}

{% block title %}contact page {% endblock %}
<link rel="stylesheet" href="/static/style.css">

{% block content %}
<div class ="error">
{% for category, msg in get_flashed_messages(with_categories=True) %}
  <p class="{{ category }}">{{ msg }}</p>
{% endfor %}

</div>

<form method="POST" action="/contact">
    <label>Name:</label>
    <input type="text" name="name">

    <label>Email:</label>
    <input type="email" name="email">

    <label>Message:</label>
    <textarea name="message"></textarea>

    <button type="submit">Send</button>
</form>
{% endblock %}